<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <context:annotation-config/>
    <!--扫描注解包-->
    <context:component-scan base-package="com.xie.work" />

    <!--配置文件加载 init.properties-->
    <bean id="placeholderConfig" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations" value="classpath:jdbc.properties" />
    </bean>
    <!-- 使用Tomcat JDBC连接(池) -->
    <bean id="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driverClass}"></property>
        <property name="url" value="${jdbc.url}"></property>
        <property name="username" value="${jdbc.username}"></property>
        <property name="password" value="${jdbc.password}"></property>
    </bean>

    <!-- 配置sessionFactory-->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="packagesToScan">
            <list>
                <value>com.xie.work.*.domain</value>
            </list>
        </property>
        <property name="dataSource" ref="dataSource"></property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
                <prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
                <prop key="hibernate.current_session_context_class">thread</prop>
                <prop key="hibernate.connection.url">
                    jdbc:mysql://rm-uf6r8o0g4ed5p7vq4o.mysql.rds.aliyuncs.com:3306/medical
                </prop>
                <prop key="hibernate.connection.driver_class">com.mysql.jdbc.Driver
                </prop><!-- 使用getCurrentSession()方法，必须配置此属性 -->
            </props>
        </property>
        <property name="mappingLocations">
            <list>
                <value>classpath:com/xie/work/domain/ArticleEntity.hbm.xml</value>
                <value>classpath:com/xie/work/domain/CommentEntity.hbm.xml</value>
                <value>classpath:com/xie/work/domain/OrderEntity.hbm.xml</value>
                <value>classpath:com/xie/work/domain/UseinfoEntity.hbm.xml</value>
                <value>classpath:com/xie/work/domain/UserEntity.hbm.xml</value>
            </list>
        </property>
        <property name="annotatedClasses">
            <list>
                <value>com.xie.work.domain.ArticleEntity</value>
                <value>com.xie.work.domain.CommentEntity</value>
                <value>com.xie.work.domain.OrderEntity</value>
                <value>com.xie.work.domain.UseinfoEntity</value>
                <value>com.xie.work.domain.UserEntity</value>
            </list>
        </property>
    </bean>
</beans>